@using CheckingStore.Models
@model List<ShelfFillingModel>
<link href="@Url.Content("~/Content/MyStyle.css")" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - Проверка магазина</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@{string ShelfNumber ="";}
@{
    ViewBag.Title = "Index3";
}

<body style="padding-top:50px;">
    <div class="container">
        <div class="row text-center">
            @Html.ActionLink("Назад", "Index2", new {DateCheck = @ViewData["DateCheck"], LocationName = @ViewData["LocationName"], u = @ViewData["userId"] })
        </div>
        <div class="row text-center">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6">
                <h3>@ViewData["Equipment"]@*@User.Identity.Name*@</h3>
            </div>
            <div class="col-lg-3">

            </div>

        </div>
        <div class="row text-center" id="Location">

            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
                @foreach (var Shelf in Model)
                {
                    if (ShelfNumber != Shelf.ShelfNumber)
                    {
                        ShelfNumber = Shelf.ShelfNumber;
                        <br>
                        <br>
                        <h6>Полка №@Shelf.ShelfNumber</h6>
                    }

                    foreach (var article in ViewBag.Articles)
                    {
                        if (article.Contains(Shelf.Article))
                        {
                            <br>
                            <a href="@Url.Action("Index4","SMPrice",new {DateCheck = @ViewData["DateCheck"], LocationSMLocId = @ViewData["SMLocId"], LocationId = @ViewData["LocationId"], Equipment = ViewData["Equipment"], Article = Shelf.Article, u = @ViewData["userId"]})">
                                @article
                            </a>

                        }

                    }
                    <br>
                }

            </div>
            <div class="col-lg-4">

            </div>
        </div>
    </div>
</body>