<link href="@Url.Content("~/Content/MyStyle.css")" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - Проверка магазина</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

@{
    ViewBag.Title = "Index4";
}

<body style="background-color:beige; padding-top:50px;">
    <div class="container">
        <div class="row text-center">
            @Html.ActionLink("Назад", "Index3", new { LocationId = @ViewData["LocationId"], Equipment = @ViewData["Equipment"], u = @ViewData["userId"] })
        </div>
        <div class="row text-center">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6">
                <h2>@ViewData["Article(shelf)"]@*@User.Identity.Name*@</h2>
            </div>
            <div class="col-lg-3">

            </div>

        </div>

        <div class="row text-center">
            <img src="@ViewData["Img"]" usemap="" />
        </div>

        <div class="row text-center" id="Location">

            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">

                @foreach (var TypeInspection in ViewBag.inspection_TypeInspections)
                {
                <p>
                    @TypeInspection.TypesInspection.Type<br>

                    @switch (@TypeInspection.TypesInspection.Type)
                    {
                        case "Цена":
                            @ViewData["PRICE"]<br>
                            break;

                        case "Кол-во на полке":
                            @ViewData["SHOWLEVEL"]<br>
                            break;

                        case "Срок годности":
                            @DateTime.Now<br>
                            break;
                    }
                <br>

                </p>
                }

            </div>
            <div class="col-lg-4">

            </div>

        </div>
    </div>

</body>