@model DAL.Models.UserModel

<link href="@Url.Content("~/Content/MyStyle.css")" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - Проверка магазина</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


@{
    ViewBag.Title = "Authorization";
}

<body style="background-color:cornflowerblue; padding-top:50px;">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6">
                <h2>Authorization</h2>
            </div>
            <div class="col-lg-3">

            </div>

        </div>
        <div class="row text-center" id="Location">

            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
                @using (Html.BeginForm("Authorization", "User"))
                {
                <p>
                    Email<br />
                    @Html.TextBox("Email")
                </p>
                <p>
                    Password<br />
                    @Html.TextBox("Password")
                </p>
                <p>
                    <br />
                    @*<button type="button" value="Магазин 1" class="btn btn-info btn-lg btn-block">Log in</button>*@
                    <input type="submit" />
                </p>
                 }

                        @*@using (Html.BeginForm("Check", "ResultСhecking"))
                        {

                        <p>
                            <button type="button" value="Магазин 1" class="btn btn-info btn-lg btn-block">Магазин 1</button>
                        </p>
                        <p>
                            <button type="button" value="Магазин 2" class="btn btn-info btn-lg btn-block">Магазин 2</button>
                        </p>
                        <p>
                            <button type="button" value="Магазин 3" class="btn btn-info btn-lg btn-block">Магазин 3</button>
                        </p>
                    }*@

                        @*<p><button type="button" class="btn btn-info btn-lg btn-block" onclick="location.href='@Url.Action("Index3", "ResultСhecking")'">Check</button></p>*@

                    </div>
            <div class="col-lg-4">

            </div>

        </div>
    </div>

</body>