@model CheckingStore.Models.Inspection_TypeInspectionModel
<link href="@Url.Content("~/Content/MyStyle.css")" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - Проверка магазина</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/scripts/jquery-3.4.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

@{
    ViewBag.Title = "Index4";
}

<body style="background-color:beige; padding-top:50px;">
    <div class="container">
        <div class="row text-center">
            <a href="@Url.Action("Index3","Location",new {LocationId = @ViewData["LocationId"], Equipment = @ViewData["Equipment"], u = @ViewData["userId"]})">
                Назад
            </a>
        </div>
        <div class="row text-center">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6">
                <h2>@ViewData["SHORTNAME"] @ViewData["Article(shelf)"]</h2>
            </div>
            <div class="col-lg-3">

            </div>

        </div>

        <div class="row text-center">
            <img src="@ViewData["Img"]" usemap="" width="350" height="350" />
        </div>

        <div class="row text-center" id="Location">

            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">

                @foreach (var TypeInspection in ViewBag.inspection_TypeInspections)
                {
                    <div class="row text-center" id="TypeInspection1">

                        <div class="col-lg-4">
                            @using (Ajax.BeginForm("Update", "Inspection_TypeInspection", new AjaxOptions
                            {
                                UpdateTargetId = "results",
                                LoadingElementId = "loading",
                                LoadingElementDuration = 1000
                            }))
                            {
                                <input type="hidden" value="@TypeInspection.Id" name="Inspection_typeInspectionId" />
                                <input type="hidden" value="true" name="rezult" />
                                <br><button type="submit"><img src="http://static.skaip.su/img/emoticons/180x180/f6fcff/xmasyes.gif" usemap="" width="50" height="50" /></button>
                                <br>

                            }
                            @*<div id="loading" style="display:none; color:Red; font-weight:bold;"></div>
                            <p>Идет загрузка...</p>*@
                        </div>

                        <div class="col-lg-4">
                            <p>
                                @TypeInspection.TypesInspection.Type<br>

                                @switch (@TypeInspection.TypesInspection.Type)
                                {
                                    case "Цена":
                                        <div>@ViewData["PRICE"]<br></div>
                                        break;

                                    case "Кол-во на полке":
                                        @ViewData["SHOWLEVEL"]<br>
                                        break;

                                    case "Срок годности":
                                        @DateTime.Now.ToString("dd.MM.yyyy")<br>
                                        break;
                                }
                            </p>
                            <br><div id="results"></div>

                        </div>

                        <div class="col-lg-4">
                            @using (Ajax.BeginForm("Update", "Inspection_TypeInspection", new AjaxOptions
                            {
                                UpdateTargetId = "results",
                                LoadingElementId = "loading",
                                LoadingElementDuration = 1000
                            }))
                            {
                                <input type="hidden" value="@TypeInspection.Id" name="Inspection_typeInspectionId" />
                                <input type="hidden" value="false" name="rezult" />
                                <br><button type="submit"><img src="https://w7.pngwing.com/pngs/251/234/png-transparent-thumb-signal-computer-icons-bad-text-hand-smiley.png" usemap="" width="50" height="50" /></button>
                                    <a href="#" class="button29"></a>
                                @*<br />
                                <div id="loading" style="display:none; color:Red; font-weight:bold;"></div>
                                <p>Идет загрузка...</p>*@

                            }
                            @*<img src="https://w7.pngwing.com/pngs/251/234/png-transparent-thumb-signal-computer-icons-bad-text-hand-smiley.png" type="submit" name="rezult" value="false" usemap="" width="50" height="50" />*@
                        </div>
                    </div>
                }
                <br>
                <a href="@Url.Action("Index3","Location",new {LocationId = @ViewData["LocationId"], Equipment = @ViewData["Equipment"], u = @ViewData["userId"]})">
                    Готово!
                </a>

                @*<br>LocationId: @ViewData["LocationId"]
                    <br>Equipment: @ViewData["Equipment"]
                    <br>userId: @ViewData["userId"]*@

            </div>
            <div class="col-lg-4">

            </div>
        </div>
    </div>
</body>